In [ ]:
# Agenda
* single and multiple line comments 
* variable assing 
* python number and to check dta type 
* to convert data type 
* string

# Python Comments

In [8]:
print ("hello,world") #see the out put

hello,world

In [10]:
# This is a comment 
# written in 
#more than just one line 
print ("hello,irfan") #fggggf

hello,irfan

In [14]:
"""

This is comment 
written in 
more than just one line 
"""
print("hello,world!")

hello,world!

# variable assingn
=

In [2]:
x = 5 #number 
y = 'john' #string variable can be declared either 
# by using single or double quotes:
print(y)

john

In [ ]:
y

In [15]:
x = 'john'
x = 'abc' 
print(x)

abc

In [20]:
x = 3

In [21]:
x

3

In [4]:
[1,2,3,4]

[1, 2, 3, 4]

In [8]:
x = [21,22,23,34]

In [1]:
x

NameError: name 'x' is not defined

In [3]:
print(x)

5

# Assign value to multiple variables
python allows you to assign to multiple variables in one line :

In [1]:
x,y,z = 'orange','banana','cherry'
print(x)
print(y)
print(z)

orange
banana
cherry

In [4]:
x,y,z,

('orange', 'banana', 'cherry')

# python number 

There are three numeric types in python 

* int
* float 
* complex

In [10]:
x = 10  # int --> discrete
y = 2.8  # float ---> continous 
z = 1j  # complex & j = imaginary

# To check data type

In [11]:
print (type(x))
print (type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Int 
int, or integer , is a whole number , positive or negative , without decimals , of unlimated length

 x = 1 
y = 3565222554887711 
z == -32 

print (type(x))
print((y))
print(type(z))

# Float 

Float, or "flaotung point number" is a number, positve or negative , containing one or more decimals .

In [12]:
x = 1
y = 1.0 
z = -35.59 

print(type(z))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Float can also be scintific numbers

In [13]:
x = 35e1
z = 35e-1 
z = 12e4 


print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

350.0
1.0
120000.0
<class 'float'>
<class 'float'>
<class 'float'>

# complex 

complex numbers are written with a 'j' as the imaginary part

In [3]:
x = 3+5j
y = 5j

# Type conversion 

you can convert from one type to another with the int(),float(), and complex() methods

In [16]:
x = 1
print (type(x))
a = float (x)
print(type(a))
print(a)

<class 'int'>
<class 'float'>
1.0

In [17]:
x = 10.3 # flaot 
print(type(x))
a = int(x)
print(type(a))
print(a)

<class 'float'>
<class 'int'>
10

In [18]:
a = "hello"
a

'hello'

* string are arrays 
* get the character at position 1 (remember that the first character )

In [27]:
# 01234567 
a = "hello,worlds!"
print(a[5])
print(5)

,
5

In [20]:
b = 'hello'
print(b[0:4])  # it stop brfore the last value of

hell

* the len()method returns the lengt of a string

In [21]:
a = "irfan "
len(a)

6

* The lower () method returns the string in lower case :

In [1]:
a= "Hello,world" #data
print (a.lower())

hello,world

In [26]:
 a= "hello,world" # data 
 print (a.upper())

HELLO,WORLD

* The replace() method replaces a string with a another string :

In [23]:
a = "hello,world!"
print (a.replace("h","j"))

jello,world!

In [4]:
a = "hello,world"
print  (a.replace( "h","j"))

jello,world

command-line string input

In [24]:
x = input()x<=y
print("hello",x)

SyntaxError: invalid syntax (427469626.py, line 1)