

# Agenda

* Functions
* Lamdba

# Python Functions

* A function is a block of code which only runs when it is called.
* You can pass data, known as parameters, into a function.
* A function can return data as a result.

### Creating a Function
In Python a function is defined using the def keyword

In [1]:
def abc():  #def = define , name = abc , : stop
    print("Good Morning")

In [2]:
abc()

Good Morning

### Calling a Function
To call a function, use the function name followed by parenthesis:

In [2]:
def my_function():
    print("Hello from a function")

In [4]:
my_function()

Hello from a function

# Funtion without Parameter

In [7]:
def miss():
    y='apple'
    if y=="curd":
        print("here is your food")
    else:
        print('invalid')

In [8]:
miss()

invalid

In [11]:
def miss():
    print("food is missed")

In [12]:
x ="Rice" # variable
if x=="curd":
    print("here is your food")
else:
    miss()

food is missed

# Function with Parameters
Information can be passed to functions as parameter.

Parameters are specified after the function name, inside the parentheses. You can add as many parameters as you want, just separate them with a comma.

The following example has a function with one parameter (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [15]:
def abc(first_name): # first_name = parameter
      print (first_name + " All good"+",Good Morning")

In [17]:
abc("Irfan") #first_name = kiran

Irfan All good,Good Morning

In [2]:
def my_function(a,b):
    total=a+b  # body 1 = variable # 10
    sub=total/2 # body 2 # 5
    return (sub,total) # return =give us output

In [3]:
my_function(27,3)

(15.0, 30)

In [4]:
def Subtraction(a,b,c):
    x=a-b-c #body1
    y=a+b+c #body2
    z=x+y
    u=x-y
    return (x,z,u,y)

In [5]:
Subtraction(10,10,10)

(-10, 20, -40, 30)

In [ ]:
def calculation_total(exp): # tom_list= exp =item
    total=0  #500
    for item in exp:  # iteration
        total=total+item # updated total
    return total

In [ ]:
abc=[200,300,500]  # list array

In [ ]:
tom_total=calculation_total(abc)
print(tom_total)

# In functions there are four parameters they are asfollows

* 1.Required Arguments or positional
* 2.Keyword Parameters
* 3.Default parameters
* 4.Collecting parameters

### 1.REQUIRED ARGUMENTS OR POSITIONAL PARAMETERS
â€¢ The arguments or parameters which are in a positional format in a( parameters must be in a order)
function is nothing but Positional Arguments or parameters. Parameters in function call will perfectly
match with the function definition.

In [43]:
def num(var1,var2,var3,var4):
    output = var1*var2*var3*var4
    return output

In [44]:
num(2,3,2,2)

24

In [57]:
def num(var1,var2,var3,var4):
    output = var1*var2+var3*var4
    return output

In [58]:
num(3,6,1,8)

26

In [1]:
def num(var1,var2,var3,var4):
    output = (var1+var2+var2+var4)
    return output

In [2]:
num(2,3,2,1)

9

### 2. Keyword Arguments
You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [45]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child2)

In [48]:
my_function("Hitesh","Anil","Nikitha")

The youngest child is Anil

In [47]:
my_function(child2 = "Hitesh", child1 = "Anil",child3 = "Nikitha")

The youngest child is Hitesh

# 3. Default Parameter Value
The following example shows how to use a default parameter value.

If we call the function without parameter, it uses the default value:

In [49]:
def my_function(country = "Norway"):
    print("I am from " + country)

In [50]:
my_function()

I am from Norway

In [51]:
my_function("India")

I am from India

In [52]:
def salary_hra(x,hra=4): # x & hra =4 default
    output =x*(hra/100)
    return output

In [53]:
salary_hra(10000)

400.0

In [54]:
salary_hra(10000,6)

600.0

## Passing a List as a Parameter
You can send any data types of parameter to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as a parameter, it will still be a List when it reaches the function:

In [103]:
def my_function(food):
      for x in food: # iteration
        print(x)

In [104]:
fruits = ["apple", "banana", "cherry"]   # 
fruits

['apple', 'banana', 'cherry']

In [105]:
my_function(fruits) # food = fruits = X

apple
banana
cherry

### Return Values

* To let a function return a value, use the return statement
* The return statement is used to exit a function and go back to the place from where it was called.

In [27]:
def absolute_value(num):
    if num >=3:
        return num
    else:
        return -num

# Output: 2
print(absolute_value(2))

# Output: 4
print(absolute_value(4))

-2
4

## 4.Collecting Parameter or Arbitrary Arguments
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly

In [67]:
def my_function(*kids): # parameter = nth number of kids
    print("The youngest child is " + kids[0])

In [68]:
my_function("Hitesh", "Pranay","irfan","pratik",'ubaid')

The youngest child is Hitesh

In [31]:
def my_functi(a,b):
    total=a+b
    mul=a*b
    return(total,mul)

In [56]:
my_functi(70,80,)

(150, 5600)

In [7]:
def absolute_function(num):
    if num>97:
        return num 
    else:
        return -num
print (absolute_function(96))
print (absolute_function(90))
print (absolute_function(99))

-96
-90
99

In [5]:
def marks(num1,num2,num3,num4):
    output = (num1+num2+num3-num4)
    return output

In [6]:
marks(1,2,3,4)

2

In [15]:
def slary_hra(x,hra=1):
    output = x*(hra/100)
    return output

In [16]:
slary_hra(100)

1.0

In [17]:
def salary_hra(y,hra=10):
    output = y*(hra/50)
    return output

In [18]:
salary_hra(10)

2.0

In [45]:
def result(num):
    if num>33:
        return num
    else:
        return -num
print (result(70))
print (result(99))

70
99

In [56]:
def children(*kids):
    print('youngest child is ' + kids[0])

In [66]:
children('w','s','sdf','af','sg','sf','sdg')

youngest child is w

In [91]:
def my_function(country= 'abc'):
    print('i am from ' + country)

In [92]:
my_function()

i am from abc

In [93]:
my_function('bharat')

i am from bharat

In [7]:
def reverase(string):
    rs=''
    for i in string:
        rd = i+rs
        print(rs)
string='data scince'
reverse(string)

data scince

In [8]:
def reverse(str):
    str = 'data scince'

In [11]:
reverse()

TypeError: reverse() missing 1 required positional argument: 'str'